[
  {
    rabbit,
      [
        {ssl_listeners, [5671]},
        {ssl_options, [
                        {cacertfile,"/etc/ssl/certs/cacert.pem"},
                        {certfile,"/etc/ssl/certs/smartec_cert.pem"},
                        {keyfile,"/etc/ssl/certs/smartec_key.pem"},
		                    {verify,verify_peer},
                        {fail_if_no_peer_cert,false}
                      ]},
        { loopback_users, [] }
      ]
  },
  {
    rabbitmq_management,
      [
        { load_definitions, "/etc/rabbitmq/definitions.json" }
      ]
  },
  {
    rabbitmq_web_mqtt, 
    [
      {tcp_config, [
                    {ip, {127,0,0,1}},
                    {port, 15675}
                  ]}
    ]}
].